{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col">
            <div id="search"></div>
        </div>
    </div>
{% endblock %}

{% block body_javascript %}
    {% set filters = [
        {
            type: 'search',
            name: 'query',
            placeholder: 'Search …'
        },
        {
            type: 'taxonomy',
            name: 'subjects',
            title: 'Subject'
        },
        {
            type: 'taxonomy',
            name: 'recommenders',
            title: 'Recommender'
        },
        {
            type: 'taxonomy',
            name: 'contexts',
            title: 'Context'
        },
        {
            type: 'taxonomy',
            name: 'audiences',
            title: 'Audience'
        },
        {
            type: 'taxonomy',
            name: 'categories',
            title: 'Category'
        },
        {
            type: 'duration',
            name: 'duration',
            title: 'Duration'
        },
        {
            type: 'geolocation',
            name: 'geolocation',
            title: 'Location'
        }
    ] %}

    <script>
        var filters = {{ filters | json_encode | raw }};
    </script>
    <script src="{{ asset('apps/search/dist/main.js') }}"></script>
{% endblock %}
